@page "/beteg"
@using System.ComponentModel;
@using TTIProject.Model;

<h3>Beteg adatok</h3>
<EditForm Model="@ViewModel" OnValidSubmit="@Compute">
    <div class="col-4">
        <div class="form-group">
            <label for="nev">Név</label>
            <InputText class="form-control" id="nev" @bind-Value="@ViewModel.Nev" />
        </div>
        <div class="form-group">
            <label for="suly">Súly</label>
            <InputText class="form-control" id="suly" @bind-Value="@ViewModel.Suly"></InputText>
        </div>
        <div class="form-group">
            <label for="magassag">Magasság</label>
            <InputText class="form-control" id="magasag" @bind-Value="@ViewModel.Magassag"></InputText>
        </div>
        <button class="mt-2" type="submit" disabled="@ViewModel.IsBusy">TTI meghatározás</button>
    </div>
</EditForm>
<div class="card mt-2 p-2">
    <h5 class="card-title">Kiértékelés</h5>
    <div class="card-body">
        <p>TTI: @ViewModel.TTI</p>
        <p>Értékelés: @ViewModel.BetegAdatok</p>
    </div>
</div>

@code {

    private Beteg ViewModel = new Beteg();

    protected override async Task OnInitializedAsync()
    {
        ViewModel.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
        await base.OnInitializedAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }

    public void Compute()
    {
        ViewModel.IsBusy = true;
        ViewModel.Compute();
        ViewModel.IsBusy = false;
    }
}


